.App {
  height: 100vh;
  width: 100vh;
}

.banner {
  position: absolute;
  text-align: center;
  top: 0;
  background: lightskyblue;
  box-shadow: darkblue 5px 5px;
  margin-left: 10vw;
  padding: 1em;
  text-align: center;
  width: 80vw;
}

nav a {
  padding: 1em;
  text-decoration: none;
}
